# Aula 09 - MLP - Exercício

## Exercício 1

A partir do dataset abaixo, utilize um modelo **MLP** para prever, a partir das variáveis de entrada, se um indivíduo recebe mais de $50k por ano. Otimize os parâmetros do seu modelo utilizando o **GridSearchCV** do sklearn!  

Uma descrição do dataset pode ser encontrada [aqui](http://www.cs.toronto.edu/~delve/data/adult/adultDetail.html).  

Ao final do exercício, reporte:  

1 - A acurácia, precisão e recall de treino, validação e teste;  
2 - Uma comparação com o desempenho de um RandomForest padrão do sklearn.

In [6]:
import pandas as pd

In [8]:
adult_dataset = pd.read_csv('adult.csv')

print(adult_dataset.shape)

adult_dataset.head()

(48842, 15)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K